.DoteBtn {
    width: 24px;
    height: 24px;
    padding: 3px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    cursor: pointer;

    div {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: black;
    }
}