.NewsInput {
    width: 100%;
    display: inline-block;

    &__label {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;

        color: #0B212B;
        margin-bottom: 12px;

    }

    &__input {
        background: #F5F5F5;
        border: 1px solid rgba(11, 33, 43, 0.2);
        border-radius: 5px;
        width: 100%;
        padding: 15px 11px;
        outline: none;
        resize: none;


        &::-webkit-scrollbar {
            width: 0;

        }

        &::placeholder {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 17px;
            color: #0B212B;
            opacity: 0.3;
        }

        &:focus {

            border: 1px solid #0B212B;

        }

        &__img {
            width: 100%;
            height: 109px;
            object-fit: cover;
        }
    }

    &__textarae {
        height: 70px;
    }

    &__file {
        width: 100%;

        background: #F5F5F5;
        border: 1px solid rgba(11, 33, 43, 0.2);
        border-radius: 5px;

        input {
            display: none;
        }

        &__imgtext {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 800;
            font-size: 22px;
            line-height: 27px;
            text-transform: uppercase;
            color: #0B212B;
            opacity: 0.1;
            padding: 40px;

        }

        &__btm {
            padding: 7px 10px;
            border-top: 1px solid rgba(11, 33, 43, 0.2);
            display: flex;
            align-items: center;
            gap: 7px;
        }

        &__blue {
            background: #0066FF;
            border-radius: 55px;
            width: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #0B212B;
        }

        &__text {
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 14px;
            color: #0B212B;

            opacity: 0.4;
            margin-top: 4px;
        }

        &__top {
            height: 109px;
            padding: 0px;
        }
    }
}

.NewsInputFile {
    max-width: 196px !important;
}