.SettingsPage {
    &__container {
        margin-top: 100px !important;
        width: 100% !important;
        max-width: 868px !important;

    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        &__div {
            display: flex;
            align-items: center;

            &:last-child {
                gap: 5px;
            }
        }

        &__name {
            margin-left: 34px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: #252430;

        }
    }

    &__form {
        display: flex;
        width: 100%;
        gap: 28px;

    }

    &__upload {
        width: 150px;
        height: 150px;
        position: relative;
        border-radius: 50%;

        &__file {
            display: none;
        }

        &__icon {
            position: absolute;
            bottom: -5px;
            right: 5px;
        }

        &__icon {
            background: #FFFFFF;
            box-shadow: 0px 10px 30px -5px rgba(86, 39, 220, 0.6);
            border-radius: 50%;
            padding: 15px;
        }
    }

    &__inputs {
        width: 100%;
        max-width: 424px;
        margin-top: 13px;

        &__div {
            display: flex;
            gap: 10px;
        }
    }

    &__aboutMe {
        margin-top: 40px;
        background: #F5F5F5;
        border-radius: 8px;
        padding: 20px;
        padding-bottom: 50px;
        margin-left: 75px;
        margin-bottom: 40px;

        &__title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 120%;
            color: #000000;
            margin-bottom: 15px;
            padding-bottom: 5px;
            border-bottom: 1px solid #D9D9D9;

        }

        &__text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #000000;
            opacity: 0.8;
        }
    }

    &__passsword {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;

        color: #121212;
        margin-bottom: 31px;

        &__wrap {
            margin-left: 69px;
            margin-bottom: 40px;
        }

        &__div {
            display: flex;
            justify-content: flex-start;
            gap: 10px;
        }

    }
}