.SkillBtn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    background: rgba(241, 101, 41, 0.1);
    border: 1px solid #F16529;
    border-radius: 20px;
    padding: 4px 10px;
}