.StudentPage {
    margin: 0 20px;
    margin-top: 100px;
    width: 100%;


    &__filter {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__addInputs {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}


.openMadal {
    display: flex !important;
}